{% extends 'corsi/base.html' %}

{% block content %}



    <b>Martedì 4-5</b>
{{ appello.0}}
          <br><br><br>
    <b>Martedì 5-6</b>
{{ appello.1}}
          <br><br><br>
    <b>Mercoledì 3-4</b>
{{ appello.2}}
          <br><br><br>
    <b>Mercoledì 5-6</b>
{{ appello.3}}
          <br><br><br>
    <b>Giovedì 3-4</b>
{{ appello.4}}
          <br><br><br>
    <b>Giovedì 5-6</b>
{{ appello.5}}
          <br><br><br>
  <b>Venerdì 1-2</b>
{{ appello.8}}
        <br><br><br>
    <b>Venerdì 3-4</b>
{{ appello.6}}
          <br><br><br>
    <b>Venerdì 5-6</b>
{{ appello.7}}
          <br>




{% endblock content %}
