{% extends 'corsi/base.html' %}
<html>
{% block content %}
<body>
<h2>Scrivi il tuo problema</h2>

<form method="POST" class="form-inline">
  {% csrf_token %}


<div class="form-group row">
<div class="col-sm-10 col-form-label">

  <p>Scrivi la tua mail:{{form.mail}}</p>
  <br>

  <p>Scrivi il tuo problema: {{form.testo}}</p>
<p>Ti risponderemo appena possibile con la mail lasciata in precendenza</p>
     <button type="submit" class="btn btn-primary">Invia</button>
   </div>
 </div>


</form>


</body>
</html>
{% endblock %}
