{% extends 'corsi/base.html' %}

{% block content %}
<div id="loading_screen">
  <h1>Loading...</h1>
  <p>La pagina è in caricamento<br/>
  Resta connesso e non cambiare sito!</p>
</div>
<script type="text/javascript">
mostra_loading_screen();
</script>

<script type="text/javascript">
(function(){
  if (window.addEventListener)
  {
    window.addEventListener("load", nascondi_loading_screen, false);
  }else{
    window.attachEvent("onload", nascondi_loading_screen);
  }
})();
function mostra_loading_screen()
{
  document.getElementById("loading_screen").style.display = 'block';
}
function nascondi_loading_screen()
{
  document.getElementById("loading_screen").style.display = 'none';
}
</script>

<h1 class="titoli" style="font-family: 'Permanent Marker', cursive;">Settimana Flessibile</h1>
<h3 style="color:red;">Info:</h3>
  <p>1)Per iscriverti ai corsi vai sulla sezione "i miei corsi"</p>
  <p>2)Cliccando sull'icona "modifica" visualizzerai tutti i corsi relativi alla fascia selezionata</p>
<p>3)Seleziona il corso che più ti interessa e iscriviti</p>
<p>4)Ripeti l'operazione per ogni fascia indicata</p>
<p>5)Nel caso in cui dovessi riscontrare difficoltà nelle iscrizioni o problemi di qualsiasi genere, puoi contattare lo Staff della settimana flessibile tramite la pagina "Help"</p>
<p>6)Provvederemo a rispondere ad ogni singola richiesta tramite la mail che inserirai</p>
<br>
<b style="color:red;"><h2>-MODIFICHE-</h2></b>

<br>
<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<p>-Il corso 'Perugia in 4D: il Paesaggio Urbano tra contesto storico e rappresentazione Digitale' della seconda e terza fascia del giovedì è stato messo come progressivo e cancellate le precedenti iscrizioni.</p>    
    </blockquote>
  </div>
</div>


<br>
<div class="card">
  <div class="card-body">
      <blockquote class="blockquote mb-0">
<p>-Il corso 'Age of Games 3.0' presente come progressivo in tutte le fasce della settimana è stato modificato in un corso progressivo che comprende tutte le seconde fasce, tutte le precedenti iscrizioni sono state cancellate.</p>
      </blockquote>
  
  </div>
</div>


<br>
<div class="card">
  <div class="card-body">
      <blockquote class="blockquote mb-0">
<p>-Il corso 'Basketball 3x3' è stato ripostato nella prima fascia del venerdi, quindi è ora presente in tutte le fasce tranne la seconda del venerdì.</p>
      </blockquote>
  </div>
</div>


<br>
<div class="card">
  <div class="card-body">
      <blockquote class="blockquote mb-0">
<p>-Il corso 'Fit martial boxe tecniche applicate kung fu' è stato rispostato e ora presente nella seconda fascia del venerdì.</p>
      </blockquote>
  </div>
</div>



<br>
<div class="card">
  <div class="card-body">
      <blockquote class="blockquote mb-0">
<p>-Il corso 'PING PONG' è stato spostato dalla prima alla seconda fascia del venerdì e cancellate le relative iscrizioni. </p>
      </blockquote>
  </div>
</div>



<br>
<div class="card">
  <div class="card-body">
      <blockquote class="blockquote mb-0">
<p>-Il corso 'Disney Cartoons' è stato spostato dalla seconda alla prima fascia del venerdì e cancellate le relative iscrizioni.</p>
      </blockquote>
  </div>
</div>

<br>
<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<p>-Chiediamo umilmente perdono per aver dovuto cancellare 20 iscrizioni al corso 'sBANDiamo' nella prma fascia di giovedì. (Cancellate in modo casuale...)</p>
    </blockquote>
  </div>
</div>


{% endblock content %}
