{% extends 'corsi/base.html' %}

{% block content %}


<h1 class="titoli" style="font-family: 'Permanent Marker', cursive;">Settimana Flessibile</h1>
<h3 style="color:red;">Info:</h3>
  <p>1)Per iscriverti ai corsi vai sulla sezione "i miei corsi"</p>
  <p>2)Cliccando sull'icona "modifica" visualizzerai tutti i corsi relativi alla fascia selezionata</p>
<p>3)Seleziona il corso che più ti interessa e iscriviti</p>
<p>4)Ripeti l'operazione per ogni fascia indicata</p>
<p>5)Nel caso in cui dovessi riscontrare difficoltà nelle iscrizioni o problemi di qualsiasi genere, puoi contattare lo Staff della settimana flessibile tramite la pagina "Help"</p>
<p>6)Provvederemo a rispondere ad ogni singola richiesta tramite la mail che inserirai</p>
<br>
{%for approvazione in approvazione%}
  <form method="POST" class="post-form">
    {% csrf_token %}
<h3>Autorizzazioni:</h3>
{{approvazione}}
<div style='display:none;'> {{form}} </div>
{{form.convalida}}
<button type="submit" id="bottone{{approvazione}}" class="save btn btn-primary"  name="">Accetto</button>

<p id="corso{{approvazione}}"></p>
<script type="text/javascript">
var approvazione = "{{approvazione}}";
var approvazione_split = approvazione.split('-');
var nome = approvazione_split[0];
var numero = approvazione_split[1];
var numero = numero.toString();
document.getElementById("corso{{approvazione}}").innerHTML = nome;
document.getElementById("bottone{{approvazione}}").name = nome;
</script>

</form>
<br>
<br>
{%endfor%}

{% endblock content %}
