{% extends 'corsi/base.html' %}

{% block content %}


    {% for iscrizione in iscrizioni%}

    <div class="panel panel-default">

      <div class="panel-heading">
<p><b>{{user}}</b></p>
  </div>

      <table class="table table-striped">
        <thead>
          <tr>
  <th scope="col">#</th>
  <th scope="col">Martedì</th>
  <th scope="col">Mercoledì</th>
  <th scope="col">Giovedì</th>
  <th scope="col">Venerdì</th>
</tr>

</thead>

  <tr> <th scope="row">1.</th> <td>Lezione </td><td>Lezione </td><td>Lezione </td></td><td>Lezione </tr>
  <tr> <th scope="row">2.</th>
  <td>{% if iscrizione.corso1 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f1"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso1}} <a href="{% url 'elimina' iscrizione.corso1.id  %}?f=f1"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso3 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f3"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso3}} <a href="{% url 'elimina' iscrizione.corso3.id  %}?f=f3"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso5 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f5"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso5}} <a href="{% url 'elimina' iscrizione.corso5.id  %}?f=f5"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso7 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f7"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso7}} <a href="{% url 'elimina' iscrizione.corso7.id  %}?f=f7"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  </tr>
  <tr> <th scope="row">3.</th>
  <td>{% if iscrizione.corso2 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f2"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso2}} <a href="{% url 'elimina' iscrizione.corso2.id  %}?f=f2"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso4 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f4"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso4}} <a href="{% url 'elimina' iscrizione.corso4.id  %}?f=f4"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso6 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f6"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso6}} <a href="{% url 'elimina' iscrizione.corso6.id  %}?f=f6"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso8 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f8"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso8}} <a href="{% url 'elimina' iscrizione.corso8.id  %}?f=f8"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  </tr>

  </table>
    </div>

{%endfor%}
{% endblock content %}
